<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main>
      <div class="messages">
        <h1 class="title">Register</h1>
        <form class="form" method="post" action="/register">
          <label for="nombre">Nombre:</label>
          <input type="email" name="username" id="nombre" required>
          <label for="contraseña">Contraseña:</label>
          <input type="password" name="password" id="contraseña" required>
          <input class="button" type="submit" value="Registrar">
        </form>
        <button class="button">
          <a href="/login">Ir a login</a>
        </button>
      </div>
    </main>
    <%- include('../partials/footer'); %> 
  </body>
</html>