<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main>
      <div class="container--back">
        <h3 class="title">Usuario no disponible</h3>
      </div>
    </main>
    <%- include('../partials/footer'); %> 
    <script src="../public/delayRedirect.js"></script>
  </body>
</html>